In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LoansTrainingSet.csv')

C:\Users\fatih\AppData\Local\Temp\ipykernel_16392\3228652955.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LoansTrainingSet.csv')

In [5]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [9]:
df.nunique()

Loan ID                         215700
Customer ID                     215700
Loan Status                          2
Current Loan Amount              27347
Term                                 2
Credit Score                       334
Years in current job                11
Home Ownership                       4
Annual Income                    60558
Purpose                             10
Monthly Debt                    129115
Years of Credit History            541
Months since last delinquent       131
Number of Open Accounts             59
Number of Credit Problems           12
Current Credit Balance           45704
Maximum Open Credit              87188
Bankruptcies                         8
Tax Liens                           12
dtype: int64

In [28]:
df.isnull().sum()

Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [12]:
df = df.drop(['Loan ID', 'Customer ID'], axis=1)

In [16]:
df.sample(10)

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
103623,Fully Paid,99999999,Long Term,738.0,10+ years,Home Mortgage,84346.0,Debt Consolidation,$984.03,21.9,NaN,7,0,28249,66311,0.0,0.0
29086,Charged Off,7907,Short Term,750.0,10+ years,Home Mortgage,98840.0,Debt Consolidation,"$2,133.29",27.8,67.0,24,0,16389,67167,0.0,0.0
5226,Fully Paid,11852,Short Term,738.0,9 years,Home Mortgage,69139.0,Debt Consolidation,"$1,359.74",15.0,72.0,16,1,19475,30241,1.0,0.0
58428,Charged Off,34607,Long Term,NaN,10+ years,Home Mortgage,NaN,Debt Consolidation,"$2,250.71",13.0,51.0,16,0,12678,16359,0.0,0.0
67362,Charged Off,2647,Short Term,NaN,6 years,Home Mortgage,NaN,Debt Consolidation,$719.48,13.4,70.0,13,0,22805,25567,0.0,0.0
245248,Fully Paid,6479,Short Term,742.0,1 year,Rent,159488.0,Debt Consolidation,"$3,654.94",13.2,NaN,27,0,15089,41001,0.0,0.0
171591,Fully Paid,28017,Short Term,741.0,< 1 year,Home Mortgage,60915.0,Debt Consolidation,"$1,294.44",18.8,18.0,19,0,96574,145663,0.0,0.0
251711,Fully Paid,11140,Short Term,747.0,3 years,Home Mortgage,101449.0,Debt Consolidation,"$1,104.95",18.7,77.0,9,0,5410,23831,0.0,0.0
224849,Charged Off,17295,Short Term,730.0,6 years,Rent,50403.0,Other,$600.64,18.1,44.0,14,0,4667,14815,0.0,0.0
128131,Fully Paid,17620,Short Term,742.0,10+ years,Rent,107679.0,Debt Consolidation,"$1,480.59",18.7,NaN,7,0,26680,33267,0.0,0.0

In [19]:
num_columns = df.shape[1]
print(f'Number of columns: {num_columns}')

Number of columns: 17

In [23]:
columns = df.columns
print(f'Columns: {columns.tolist()}')

Columns: ['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score', 'Years in current job', 'Home Ownership', 'Annual Income', 'Purpose', 'Monthly Debt', 'Years of Credit History', 'Months since last delinquent', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies', 'Tax Liens']